html
    head
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oxygen:300,400")
        link(rel="stylesheet", href="main.css")
        title Dialogue Tree
    body
        header
            .title#file-title Untitled
            nav
                .btn#add-dialog Add
                .btn#open-file
                    label(for="file-input") Open
                        input(type="file", id="file-input", accept=".json")
                .btn#export-file Export
        .input-dialog.clear#create-dialogue
            .header Create a Dialogue
            .input
                textarea#dialogText(placeholder="Text")
            .input
                input#dialogType(type="text", placeholder="Type")
            .input
                .btn#add-dialogue Add
                .btn#cancel-dialogue Cancel
        .input-dialog#export-dialogues
            .header Export
            .input
                .btn Download
                    a#export-link
                        .btn-fill
                .btn#cancel-export Cancel
        .project#project
        script(src="js/main.js")
            