*{
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
}

header{
    position: relative;
    width: 100%;
    height: 56px;
    line-height: 56px;
    background: #FF6F00;
    color: #FFFFFF;
    font-size: 18px;
    box-shadow: 0 3px 5px #757575;
    box-shadow: 0 3px 5px rgba(66, 66, 66, 0.43);
    z-index: 999;
}

header::after{
    content: '';
    clear: both;
}

.title{
    padding-left: 20px;
    float: left;
}

nav{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding-right: 20px;
}

.btn{
    float: left;
    padding: 0 15px;
}

.btn:hover{
    background: #F4511E;
    cursor: pointer;
}

.project{
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #a1a1a1;
    overflow: auto;
}

.project svg > path {
    fill: #000000;
    stroke: #000000;
    stroke-width: 1;
}

.dialogue{
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
    border-radius: 3px;
    padding: 10px;
    background: #90CAF9;    
}

.dialogue .text{
    max-width: 400px;
    max-height: 250px;
    overflow-y: auto;
}

.dialogue .entry-point{
    position: absolute;
    top: 50%;
    left: -5px;
    width: 10px;
    height: 10px;
    transform: translate(0, -50%);
    border-radius: 100%;
    background: #ffffff;
    cursor: pointer;
}

.dialogue .next-point{
    position: absolute;
    top: 50%;
    right: -5px;
    width: 10px;
    height: 10px;
    transform: translate(0, -50%);
    border-radius: 100%;
    background: #212121;
    cursor: pointer;
}

.input-dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    z-index: 999;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    background: #212121;
    box-shadow: 0 3px 5px #757575;
    box-shadow: 0 3px 5px rgba(66, 66, 66, 0.43);
    border-radius: 3px;
    padding-bottom: 10px;
    display: none;
}
.input-dialog .header{
    padding: 15px;
    font-size: 24px;
}

.input-dialog .input{
    margin: 10px;
}
.clear::after{
    content: '';
    clear: both;
}
.input-dialog .input textarea, .input-dialog .input input{
    background: #e1e1e1;
    padding: 5px 10px;
    font-size: 18px;
    border: none;
}
.input-dialog .input textarea{
    padding: 10px;
    width: 100%;
    height: 150px;
    resize: none;
}
.input-dialog .input input[type='text']{
    width: 100%;
}
.input-dialog .btn{
    float: right;
    padding: 10px 15px;
}

.show{
    display: block;
}